requests
asyncio
edge-tts
pandas
yfinance
speechrecognition
requests-toolbelt
numpy
setuptools
Flask
rapidfuzz


requests
asyncio
edge-tts
pandas
yfinance
SpeechRecognition
requests-toolbelt
Flask
rapidfuzz
